
#side-menu {
    width: 0;
}

#side-menu-opener {
    display: none;
}

.maincontent {
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    height: fit-content;
    background: rgb(255,255,255);
}

.picturebanner {
    height: fit-content;
}

.visit-card {
    background: rgb(242, 242, 242);
    box-shadow: 0 0 15px rgb(89,89,89);
    text-align: center;
    margin: 0 auto;
    padding: 20px;

    width: 70vw;
    height: 45vw;
    min-width: 560px;
    min-height: max-content;
    max-height: 530px;
    max-width: 840px;

    color: rgb(89,89,89);
    
    font-weight: normal;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Amiri', serif;
}

.visit-card h1 {
    font-size: 3em;
    margin: 0;
    letter-spacing: 0.1em;
}

.visit-card h2 {
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 1em;
}

.visit-card a {
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(89,89,89);
    width: 100%;
    display: block;
    margin-bottom: -10px;
}

.visit-card #email {
    color: rgb(209, 91, 91);
}

.visit-card #email:hover {
    color: rgb(241, 141, 141);
}

.visit-card img {
    width: 100%;
    margin-top: 20px;
}

.line {
    width: 100%;
    height: 20px;
    border-top: 1px solid rgb(89,89,89);
}

@media screen and (max-width: 720px){
    .visit-card {
        min-width: 80vw;
    }

    .visit-card h1 {
        font-size: 2em;
    }

    .visit-card h2 {
        font-size: 1em;
    }
}